#General use .gitignore for Minecraft modding.

#Folders
/.gradle/*
/.idea/*
/asm/*
/bin/*
/build/*
/eclipse/*
/libs/*
/out/*
/classes/*
/run/*
/compiled/*
/docs/*
/libs/*

#File Extensions
*.classpath
*.db
*.iml
*.jar
*.ipr
*.iws
*.launch
*.project
*.psd
*.pdn
*.zip

#Specific files
.floo
.flooignore